* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(218, 218, 218, 0.438);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    background: #ffffff;
    height: 420px;
    width: 400px;
    outline: none;
    box-shadow: 1px 1px 5px 5px rgba(22, 16, 16, 0.11);
    border-radius: 5px
}

.wrapper h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 70px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    color: rgba(109, 99, 99, 0.521);
}

.wrapper .input-box {
    width: 100%;
    height: 40px;
    margin: 40px 0;
}


.input-box input {
    font-family: "Poppins", sans-serif;
    color: #908D8D;
    outline: none;
    width: 90%;
    height: 90%;
    margin-left: 23px;
    font-size: 14px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #FF585B;
}
/*
::placeholder{
    content: "*";
    color: #FF585B;
}
*/
.input-box span{
    color: #FF585B;
    font-weight: 400;
    font-style: italic;
    font-family: "Poppins", sans-serif;
    margin-left: 26px;
    font-size: 12px;
}

.wrapper .btn {
    background: #009688;
    width: 30%;
    height: 30px;
    margin-left: 125px;
    color:  #ffffff;
    border-radius: 5px;
    outline: none; 
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid rgba(0, 150, 136, 1);
}

.wrapper .btn:hover {
    /*background:#908D8D;*/
    border-color: blue;
}


input[type="password"][required]+span::after {
    content: "*";
    color:#FF585B;
    display: block;
    position: absolute;
    top: -113px;
    right: 10px;
  }
  
  input[type="password"][required]+span{
    position: relative;
  }

input[type="email or phone"][required]+span::before{
    content: "*";
    color:#FF585B;
    display: block;
    position: absolute;
    top: 47px;
    right: 77.9px;
} 

input[type="email or phone"][required]+span{
    position: relative;
}
